[submodule "Projects/ESP32/DroneBridge"]
	path = Projects/ESP32/DroneBridge
	url = https://github.com/DroneBridge/ESP32.git
[submodule "Projects/ESP32/Grbl_Esp32"]
	path = Projects/ESP32/Grbl_Esp32
	url = https://github.com/bdring/Grbl_Esp32.git
[submodule "Projects/MowBot/DEV/Resources/GPS-Guided-Rover"]
	path = Projects/MowBot/DEV/Resources/GPS-Guided-Rover
	url = https://github.com/amilich/GPS-Guided-Rover.git
[submodule "Projects/MowBot/DEV/Resources/gps_control"]
	path = Projects/MowBot/DEV/Resources/gps_control
	url = https://github.com/USU-Mars-Rover-Project/gps_control.git
[submodule "Arduino/libraries/ESPAsyncWebServer"]
	path = Arduino/libraries/ESPAsyncWebServer
	url = https://github.com/me-no-dev/ESPAsyncWebServer.git
[submodule "Arduino/libraries/AsyncTCP"]
	path = Arduino/libraries/AsyncTCP
	url = https://github.com/me-no-dev/AsyncTCP.git
[submodule "Arduino/libraries/esp32FOTA"]
	path = Arduino/libraries/esp32FOTA
	url = https://github.com/chrisjoyce911/esp32FOTA.git
[submodule "Arduino/libraries/LITTLEFS"]
	path = Arduino/libraries/LITTLEFS
	url = https://github.com/lorol/LITTLEFS.git
[submodule "Arduino/libraries/Arduino-HMC5883L"]
	path = Arduino/libraries/Arduino-HMC5883L
	url = https://github.com/jarzebski/Arduino-HMC5883L.git
