[submodule "DEV/Arduino/libraries/esp32cam"]
	path = DEV/Arduino/libraries/esp32cam
	url = https://github.com/yoursunny/esp32cam
[submodule "DEV/Arduino/libraries/SdFat"]
	path = DEV/Arduino/libraries/SdFat
	url = https://github.com/greiman/SdFat
[submodule "DEV/Arduino/libraries/TFT_eSPI"]
	path = DEV/Arduino/libraries/TFT_eSPI
	url = https://github.com/Bodmer/TFT_eSPI.git
