[submodule "DEV/Arduino/libraries/esp32cam"]
	path = DEV/Arduino/libraries/esp32cam
	url = https://github.com/yoursunny/esp32cam
[submodule "DEV/Arduino/libraries/SdFat"]
	path = DEV/Arduino/libraries/SdFat
	url = https://github.com/greiman/SdFat
[submodule "DEV/Arduino/libraries/TFT_eSPI"]
	path = DEV/Arduino/libraries/TFT_eSPI
	url = https://github.com/Bodmer/TFT_eSPI.git
[submodule "DEV/Arduino/libraries/WS2812FX"]
	path = DEV/Arduino/libraries/WS2812FX
	url = https://github.com/kitesurfer1404/WS2812FX.git
[submodule "DEV/ESP32/Grbl_Esp32"]
	path = DEV/ESP32/Grbl_Esp32
	url = https://github.com/bdring/Grbl_Esp32.git
[submodule "DEV/ESP32/ESP32"]
	path = DEV/ESP32/ESP32
	url = https://github.com/DroneBridge/ESP32.git
[submodule "Projects/lawndroid"]
	path = Projects/lawndroid
	url = https://github.com/mrantonwinter/lawndroid
[submodule "Projects/OpenMower"]
	path = Projects/OpenMower
	url = https://github.com/ClemensElflein/OpenMower.git
[submodule "Projects/Lawn-Mower-Robot-Arduino"]
	path = Projects/Lawn-Mower-Robot-Arduino
	url = https://github.com/xmow49/Lawn-Mower-Robot-Arduino.git
[submodule "Projects/mowerBot"]
	path = Projects/mowerBot
	url = https://github.com/jefure/mowerBot.git
[submodule "Projects/OttoMower"]
	path = Projects/OttoMower
	url = https://github.com/lucabiasotto/OttoMower
[submodule "Projects/Android-Controlled-Lawn-Mower"]
	path = Projects/Android-Controlled-Lawn-Mower
	url = https://github.com/mbaker92/Android-Controlled-Lawn-Mower.git
