Skip to content
Search or jump to…
Pulls
Issues
Marketplace
Explore
 
@Mchaney3 
Mchaney3
/
KYMakers
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
More
KYMakers/.gitignore
@Mchaney3
Mchaney3 Initial commit
Latest commit 8b163f3 4 days ago
 History
 1 contributor
32 lines (26 sloc)  270 Bytes
   
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete
.DS_Store
.vscode
Thumbs.db
.idea
credentials.h
